{% extends "base.jinja2" %}

{% block body %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{ p1.name }} <small>({{ p1.lat }}, {{ p1.lon }})</small></h1>
            <p>is near</p>
            <h1>{{ p2.name }} <small>({{ p2.lat }}, {{ p2.lon }})</small></h1>
        </div>
    </div>
{% endblock %}
