<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Pigs, Parks, &amp; Pints{% endblock %}</title>

        <link rel="shortcut icon" href="/static/favicon.ico" />

        {% block css %}
            <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
            <script src="/static/build/styles.bundle.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <form action="/trip" method="POST">
                    <h1>
                        Pigs, Parks, & Pints
                        <small><button type="submit" class="btn btn-default">Start your trip!</button></small>
                    </h1>
                </form>
            </header>

            {% block body %}{% endblock %}

            {% block footer %}
                <footer>
                    Copyright &copy; {{ now.year }} <a href="http://erik.wiffin.com">Erik Wiffin</a> and Hannah Hudson.
                    &bull;
                    <a href="https://icons8.com">Pig and hiker icons by Icons8</a>
                    &bull;
                    <a href="http://downloadicons.net/">Beer icon from downloadicons.net</a>
                </footer>
            {% endblock %}
        </div>

        {% block javascript %}
            <script src="/static/build/vendor.bundle.js"></script>
            <script src="/static/build/app.bundle.js"></script>
        {% endblock %}
    </body>
</html>
